.sidebar-items {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  font-family: var(--font-family-default);
  border-bottom: var(--global--border);
}

#sidebar-items-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
#sidebar-items-content a {
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 0;
  padding: 12px 0;
  padding-left: 22px;
}
#sidebar-items-content a:hover {
  background-color: rgba(230, 225, 225, 0.5);
}
#sidebar-items-content a #sidebar-item-icon {
  width: var(--global-size-icons) !important;
  height: var(--global-size-icons) !important;
  color: rgb(96, 96, 96);
  padding-right: 15px;
  padding-right: 25px;
}
#sidebar-items-content a span {
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
}
