main.main {
  top: 80px;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 1fr 140px 1fr 1fr;
  grid-template-areas:
    "video playlist "
    "video-config playlist-geral"
    "video-config-description playlist-geral"
    "body playlist-geral ";
  grid-gap: 10px;
}

main.main.wrap-playlist {
  z-index: 199;
  top: 55px;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "large large"
    "video-config playlist"
    "video-config-description playlist-geral"
    "body playlist-geral";
  grid-gap: 10px;
}

main.main.menu-hidden-top {
  grid-template-rows: 80px auto;
  grid-template-areas:
    "video playlist"
    "video playlist-geral"
    "video-config playlist-geral"
    "video-config-description  playlist-geral"
    "body playlist-geral";
}

main.main.wrap-playlist.menu-hidden-top {
  grid-template-rows: 1fr 80px auto;
  grid-template-areas:
    "large large"
    "video-config playlist"
    "video-config playlist-geral"
    "video-config-description playlist-geral"
    "body playlist-geral";
}
