.section-video {
  display: flex;
  height: 495px !important;
  width: 880px;
  min-width: 435px;
  grid-area: video;
  position: relative;
  flex-direction: column;
}

.video-section-item {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #111111;
}

.section-video .video-section-item video {
  height: 100% !important;
}
.section-video.large {
  width: 100% !important;
  height: 495px !important;
  grid-area: large;
  position: relative;
  top: 0px;
}
.section-video.large .video-section-item {
  height: 100% !important;
  width: 100% !important;
}

.section-video.large video {
  height: 100% !important;
  width: 100% !important;
  box-sizing: border-box !important;
  object-fit: contain !important;
  box-sizing: border-box !important;
  transform: none !important;
  position: absolute !important;
}

.section-video.full .video-section-item {
  height: 100% !important;
  width: 100% !important;
}

.section-video.full .video-section-item video {
  z-index: 888;
  object-fit: contain;
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  box-sizing: border-box !important;
  min-width: 0px !important;
  max-width: none !important;
  min-height: 0px !important;
  max-height: none !important;
  width: 100% !important;
  height: 100% !important;
  transform: none !important;
  margin: 0px !important;
}

.section-video .controls {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30px;
  background-color: blueviolet;
}

.progress-bar {
  background-color: red;
  position: absolute;
  height: 40px;
}
