.video-component {
  height: 80%;
  width: 100%;
  background-color: red;
  display: flex;
  position: relative;
  flex-direction: column
}

.video-component video {
  height: 480px;
  width: 853px;
  /* background-color: blue; */
  margin: auto;
}

.controls {
  position: absolute;
  background-color: brown;
  z-index: 10000;
}

.current {
  position: absolute;
  height: 400px;
  /* width: 400px; */
  z-index: 10;
  background-color: blue !important;
  bottom: 0;
}
