.section-body-video {
  width: 880px;
  display: flex;
  flex-direction: column;
  grid-area: video-config;
  margin-left: var(--margin-left-right);
}

div.body-video-config {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-size: 0.8rem;
  border-bottom: var(--global-border-bottom-video);
}

div.body-video-config .body-video-config-title {
  display: flex;
  flex-wrap: wrap;
}
div.body-video-config .body-video-config-title h1 {
  font-weight: 400;
  color: rgb(15, 14, 14);
  margin: 10px 0;
}
div.body-video-config .body-video-config-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 15px;
}
div.body-video-config .body-video-config-data > span {
  display: flex;
  align-self: flex-start;
  font-size: 1.2em;
  color: #606060;
  opacity: 0.9;
}
div.body-video-config .body-video-config-data .body-video-config-items {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  width: 100%;
  width: 460px;
}

.body-video-config-items-icons {
  display: flex;
  justify-content: space-evenly;
  justify-content: space-between;
  width: 90%;
  text-transform: uppercase;
}

.body-video-config-items-icons .like,
.body-video-config-items-icons .dislike {
  border-bottom: 2px solid #065fd4;
  cursor: pointer;
  padding-right: 5px;
  display: flex;
  bottom: 0px;
  position: relative;
}

.body-video-config-items-icons div {
  display: flex;
  align-items: center;
}

div.body-video-config #body-config-icon {
  width: 20px !important;
  height: 20px !important;
  color: var(--global--icon-color);
  cursor: pointer;
  padding: 8px;
}
