.video-body-comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  height: 100px;
  font-family: var(--font-family-default);
  margin-top: var(--global-margin-body-video);
}

.video-body-comments > h5 {
  margin: var(--global-margin-body-video) 0px;
  font-size: 1rem;
  font-weight: 400;
}
.video-body-comments .video-body-comment-user-area {
  display: flex;
  width: 100%;
}
.video-body-comments .video-body-comment-user-area .comments-user-area-avatar {
  height: var(--global-avatar-size);
  width: var(--global-avatar-size);
}
.video-body-comment-user-area .comments-user-area-avatar img {
  height: 100%;
  width: 100%;
  border-radius: var(--global-avatar-border);
}

.video-body-comment-user-area .video-body-input-user-area {
  align-self: center;
  margin: 5px 0 5px 15px;
  width: 100%;
  border-bottom: var(--global-border-bottom-video);
}
.video-body-comments#commenting
  .video-body-comment-user-area
  .video-body-input-user-area {
  border-bottom: 2.3px solid #757575;
}

.video-body-comment-user-area .video-body-input-user-area input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px;
  background-color: transparent;
}

.send-cancel-comment {
  display: flex;
  align-self: flex-end;
  width: 200px;
  justify-content: space-between;
  visibility: hidden;
}
.video-body-comments#commenting .send-cancel-comment {
  display: flex;
  align-self: flex-end;
  width: 200px;
  justify-content: space-between;
  visibility: visible;
}
.video-body-comments button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: calc(200px / 2);
}
.video-body-comments button#cancel-comment {
  background-color: transparent;
  margin-right: 2px;
  color: #606060;
}
.video-body-comments button#send-comment {
  background-color: rgba(8, 8, 224, 0.37);
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.2;
  margin-left: 2px;
  color: #ffffff;
}
