section.section-playlist {
  height: 495px;
  grid-area: playlist;
  margin-right: var(--margin-left-right);
  border: var(--global--border);
  overflow: hidden;
}
section.section-playlist#hidden {
  height: 80px;
  overflow: hidden;
}

.playlist-items {
  overflow: scroll;
  height: 100%;
}
