@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

header.header {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 100%;
  height: 60px;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

header.header::after {
  content: "";
  box-shadow: var(--shadow--header);
  height: 5px;
  z-index: 589;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 55px;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}
header.header#header-black {
  background-color: #111111;
}
header.header#header-black::after {
  content: "";
  box-shadow: none;
  height: 0px;
  z-index: -589;
  background-color: black;
}

header.header#header-black .header-content {
  background-color: rgb(44, 44, 44);
}

header.header#header-black .header-content #header-icon {
  color: #ffff;
}
header.header#header-black .header-content .header-search input,
header.header#header-black .header-content .header-search {
  color: #ffff;
  background-color: rgb(18, 18, 18);
  border: none;
}
header.header#header-black .header-content .header-search button {
  background-color: rgb(61, 61, 61);
  border: none;
}

.header-content .header-menu-logo {
  display: flex;
  align-self: center;
  align-items: center;
  width: 170px;
  height: 100%;
  justify-content: space-around;
}
.header-content .header-menu-logo a {
  text-decoration: none;
  cursor: pointer;
}
.header-content .header-menu-logo #header-icon {
  height: 24px !important;
  width: 24px !important;
}

.header-content .header-menu-logo img {
  height: 18px;
}

.header-content .header-search {
  display: flex;
  width: 600px;
  border: var(--global--border);
  border-radius: 2.7px;
}
.header-content .header-search input {
  width: 100%;
  padding: 5px;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  white-space: initial;
  outline: 1.4 solid rgb(41, 121, 255);
  border-right: var(--global--border);
}
.header-content .header-search button {
  text-align: center;
  width: 15%;
  border: none;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.header-user-area {
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
}
#header-icon {
  color: rgb(144, 144, 144);
}
.header-user-area a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0 10px 0 0;
}
.header-user-area a #header-icon {
  text-decoration: none;
  align-self: center;
  height: 22px !important;
  width: 22px !important;
  margin: 0px;
}

.user {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.user img {
  height: 70%;
  width: 70%;
  border-radius: 50%;
}
