.main-sidebar {
  height: 100vh;
  width: 240px;
  width: 100%;
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
}
.main-sidebar#hidden-sidebar {
  opacity: 0;
  display: none;
}
/* ON OPACITY */
/* ON MENU IS OPEN IN VIDEO COMPONENT */
/* SET STATE OF APP DIV TO HIDDEN */
.main-sidebar-active-menu {
  height: 100vh;
  height: 100%;
  width: 100%;
  left: 240px;
  background-color: rgb(53, 53, 53);
  position: absolute;
  position: fixed;
  overflow: hidden !important;
  opacity: 0.6;
}

.main-sidebar div.main-sidebar-content {
  height: 100%;
  width: 100%;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  overflow: scroll;
  overflow-x: hidden;
}
.main-sidebar div.main-sidebar-content::-webkit-scrollbar {
  width: 10px !important;
}

.main-sidebar div.main-sidebar-content::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.main-sidebar div.main-sidebar-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.main-sidebar div.main-sidebar-content::-webkit-scrollbar-thumb:hover {
  background-color: #c1c1c1;
}

#sidebar-icon {
  color: #cccccc !important;
  height: var(--global-size-icons);
  width: var(--global-size-icons);
  cursor: pointer;
}
